/* Setup */
/* #gameboyBackground {
  background-image: url("/home/max/test/Max's Game/images/background/gameboy_advance_transparent.png");
  background-size: contain;
  width: 100%;
  height: 100%;
} */


#bg {
  margin: 0 auto;
  width: 70%;
  display: none;
  /* padding: 0px 0px; */
 
  
}


.game-board {
  margin: 0 auto;
  width: 70%;
  /* padding: 0px 0px; */
  background-image: url('images/background/Internet.gif');
  background-size: contain;
  
}

#theCanvas{
  margin: 0 auto;
  width: 70%;
  position: absolute;
  /* left: 0;
  top: 0; */
  z-index: 0;
}

#twoCanvas{
  margin:0 auto;
  width: 70%;
  position: absolute;
  /* left: 0;
  top: 0; */
  z-index: 1;
}

#threeCanvas{
  margin:0 auto;
  width: 70%;
  position: absolute;
  /* left: 0;
  top: 0; */
  z-index: 2;
}

#mainMenu {
 /* background-color: green;  */
  background-image:url("images/background/menu.png");
  background-size: cover;
  width:100%;
  /* S  */
  position: absolute;
  z-index: 3;
  height: 100%; 
  background-repeat: no-repeat; 
  /* display: block;  */
  /* left: 20%;
  top: 20%;
  transform: translate(-20%, -20%); */
}

#startGame{
  margin-top:30% ;
  margin-left:40% ;
  /* margin-right:50% ; */
  height: 10% ;
  width: 20%;
  font-size: 1em;
}

#hp-bar {
  /*margin-left: 100px; 
  margin-top: 100px;*/
  background-color: darkgray;
}

/* Megaman */
.megaManStance {
  background-image: url("/home/max/test/Max's Game/images/megaman/still/still(loop).gif");
  background-position:0 0;
  background-repeat: no-repeat;
}

.megaManBuster {
  background-image: url("/home/max/test/Max's Game/images/megaman/megaBuster/megaBuster(loop).gif");
  background-position:0 0;
  background-repeat: no-repeat;
}

.megaManGuard {
  background-image: url("images/.png");
  background-position:0 0;
  background-repeat: no-repeat;
}

.megaManSword {
  background-image: url("images/.png");
  background-position:0 0;
  background-repeat: no-repeat;
}
/* Enemies */

/* Mettaur1 */

.mettaur {
  background-image: url("images/enemies/Mettaur/mettaur.png");
  background-position:0 0;
  background-repeat: no-repeat;
}

.mettaurAtk {
  background-image: url("images/.png");
  background-position:0 0;
  background-repeat: no-repeat;
}

/* Cards */

.cardTemplate {
  background-image: url("images/Card template (standard).png");
  background-position:0 0;
  background-repeat: no-repeat;
}