/* Setup */
/* #gameboyBackground {
  background-image: url("/home/max/test/Max's Game/images/background/gameboy_advance_transparent.png");
  background-size: contain;
  width: 100%;
  height: 100%;
} */

#bg {
  margin: 0 auto;
  margin-top: 2%;
  width: 70%;
  display: none;  
  /* padding: 0px 0px; */
}

.game-board {
  margin: 0 auto;
  width: 70%;
  /* padding: 0px 0px; */
  background-image: url('images/background/Internet.gif');
  background-size: contain;
}

#theCanvas, #twoCanvas, #threeCanvas, #fourCanvas, #fiveCanvas {
  margin: 0 auto;
  width: 70%;
  position: absolute;
  /* left: 0;
  top: 0; */
}

#theCanvas   { z-index: 0; }

#twoCanvas   { z-index: 1; }

#threeCanvas { z-index: 2; }

#fourCanvas  { z-index: 3; }

#fiveCanvas  { z-index: 4; }

#mainMenuBG {
  background-image:url('images/background/menubg.png');
  background-size: cover;
  width:100%;
  /* S  */
  position: absolute;
  z-index: 4;
  height: 100%; 
  background-repeat: no-repeat; 
}

#titleLogo {
  position: relative;
  height: 35% ;
  width: 35%;
  margin-top:10% ;
  margin-left:35%;
  /* z-index: 3; */
}

#mainMenu, #gameMenu, #settingsMenu {
  width:100%;
  /* S  */
  /* position: absolute; */
  z-index: 3;
  /* height: 100%;  */
  background-repeat: no-repeat; 
}

#gameover {
  display: none;
  position: absolute;
  z-index: 5;
  margin: 0 auto;
  width: 70%;
}

#restart {
  margin-top:30% ;
  margin-left:40% ;
  height: 10% ;
  width: 20%;
  font-size: 1em;
}

.backPageButton {
  margin-top:1% ;
  margin-left:1% ;
  height: 5% ;
  width: 10%;
  font-size: 1.5em;
  display: block;
}

/* .volumeDiv {
  margin: 5%;
  
} */

#startGame, #folderButton, #settingsButton {
  height: 5% ;
  width: 20%;
  font-size: 1.5em;
}

#startGame {
  /* margin-top:25% ; */
  margin-left:40% ;
}

#folderButton, #settingsButton {
  margin-top:2% ;
  margin-left:40% ;
}

#easyButton, #mediumButton, #hardButton, #undernetButton, #testButton {
  height: 5% ;
  width: 20%;
  font-size: 1.5em;
}

#easyButton{
  margin-left:40% ;
}

#mediumButton, #hardButton, #undernetButton, #testButton {
  margin-top:1.5% ;
  margin-left:40% ;
}

#undernetButton { display: none; }

#volumeButton, #disableMusicButton, #creditsButton, #mobileButton {
  height: 5% ;
  width: 20%;
  font-size: 1.5em;
}
#volumeButton{
  margin-left:40% ;
}

#disableMusicButton, #creditsButton, #mobileButton{
  margin-top:1.5% ;
  margin-left:40% ;
}

#credits, #volumeMaster {
  display: none;
  font-size: 1.5em;
  
}

#hp-bar {
  background-color: darkgray;
}